
	body {
	font-family: 'Roboto', sans-serif;
	font-style:normal;
	margin:auto;
	width:640px;
	overflow-x:hidden;
	padding:0;
	}

	h1{
		font-weight:300;
		font-size:42px;
		color:#33B5E5;
	}

	p{
		font-weight:300;
		font-size:26px;
		line-height:1.5;
	}

a{
  color:#33B5E5;
  text-decoration:none;
}

a:hover{
  color:#06a;
  text-decoration:none;
}
